
.navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: "Bookman Old Style";
    font-style: italic;
    font-size: 15px;
}

.navbar-expand-lg .navbar-brand {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    text-shadow: blue;
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/foto-blogartikel-10-767x511.png");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    padding-top: 62px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 80px;
    font-family: "Edwardian Script ITC";
    text-shadow: blue;
    color: cornsilk;
}

.motto {
    color: lightgoldenrodyellow;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
}

.card {
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    width: 108%;
}

.banner .card .card-header{
    color: olive;
    font-weight: bold;
    font-family: cursive;
}

.footer{
    background-color: #e2e2e2;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 15px;
    border-width: 0px;
    padding: 0px;
    text-align: center;
}

body{
    background-color: #e2e2e2;
}

.register{
    text-align: center;
    font-weight: bold;
    font-family: "Edwardian Script ITC";
    font-style: italic;
    color: crimson;
    font-size: 15vh;
}

.icon{
    justify-content: center;
    width: 15vh;
    hight: 15vh;
}

.sidebar{
    background-color: whitesmoke;
    width: 15%;
    position: fixed;
    /*top: 0px;*/
    overscroll-behavior: contain;
    display: block;
    height: 100%;
    transition-delay: 0.3s;
    padding-top: 60px;
}

.sidebar a{
    padding: 10px 25px;
    display: block;
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 15px;
    text-decoration: none;
    width: 100%;
}

h4{
    font-family: cursive;
    color: crimson;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 1px;
}

.sidebar a:hover{
    background-color: burlywood;
}

.sidebar .present{
    background-color: blueviolet;
    color: whitesmoke;
}

.sidebar .cross{
    position: absolute;
    padding-top: 5px;
    left: 90%;
    font-size: 25px;
}

.bar{
    position: fixed;
    font-size: 25px;
    display: block;
    padding-top: 62px;
}

.dashboard_banner{
    padding-left: 9%;
    padding-top: 62px;
    padding-right: 2%;
    width: 95rem;
}

.greet{
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 80px;
    font-family: "Bell MT";
    text-shadow: blue;
    padding-top: 62px;
    color: brown;
}

.card-title{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    color: darkblue;
}

.card-text{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    color: maroon;
}

.card-header-tabs{
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 20px;
}

.guide{
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    font-family: "Cooper Black";
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
}

.bot{
    width: 26%;
    color: black;
}

.botton1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.dp{
    padding-top: 50px;
    border-radius: 100%;
    height: 20rem;
    width: 17rem;
    object-fit: cover;
}

.edit{
    color: blue;
    font-family: "Times New Roman";
    font-size: 18px;
    text-decoration: none;

}
.lol a:hover{
    color: brown;
    font-size: 18.5px;
}

.list-group-item{
    color: darkmagenta;
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.action{
    height: 22px;
    width: 55px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

a{
    text-decoration: none;
}

.recharge{
    font-size: 20px;
    font-style: italic;
    font-weight: initial;
    color: darkmagenta;
}

.welcome_note {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-family: "Bell MT";
    text-shadow: blue;
    color: brown;
    font-size: 60px;
    padding-top: 10px
}

.request{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: crimson;
    font-family:'Times New Roman';
    font-size: 10vh;
}

.request_icon{
    height: 18vh;
    width: 18vh;
}

.edit_icon{
    height: 18vh;
    width: 18vh;
}

.recharge_msg {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 100px;
    font-family: "Bell MT";
    text-shadow: blue;
    padding-top: 120px;
    padding-bottom: 60px;
    color: indigo;
}

.remove{
    height: 22px;
    width: 55px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

.login{
    padding-top: 80px;
    width: 50rem;
}

.login_card{
    width: 22rem;
}

.receive_icon{
    height: 22vh;
    width: 22vh;
}

.warning{
    color: red;
}