
.navbar-expand-lg .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-family: "Times New Roman";
    font-style: italic;
    font-size: 50px;
}

.navbar-expand-lg .navbar-brand {
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    text-shadow: blue;
}

.navbar-toggler-icon {
    font-size: 50px;
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/foto-blogartikel-10-767x511.png");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    padding-top: 62px;
}

.login_bot {
    width: 48%;
    color: black;
    font-size: 45px;
    border-radius: 5%;
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: initial;
}

h1 {
    font-family: "Times New Roman";
    padding-top: 75px;
    text-align: center;
    font-style: italic;
    font-size: 120px;
    padding-bottom: 50px;
    text-shadow: blue;
    color: cornsilk;
}

.motto {
    color: lightgoldenrodyellow;
    padding-bottom: 50px;
    font-size: 65px;
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
}

.card {
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    width: 100%;
    padding-left: 0px;
}

.banner .card .card-header {
    color: olive;
    font-weight: bold;
    font-family: cursive;
    font-size: 50px;
}

.footer {
    background-color: #e2e2e2;
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 30px;
    border-width: 0px;
    padding: 0px;
    text-align: center;
}

body {
    background-color: #e2e2e2;
}

.register {
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    color: crimson;
    font-size: 150px;
}

.icon {
    justify-content: center;
    height: 14vh;
    width: 14vh;
}

.sidebar {
    background-color: whitesmoke;
    width: 70%;
    position: fixed;
    /*top: 0px;*/
    overscroll-behavior: contain;
    display: block;
    height: 100%;
    transition-delay: 0.3s;
    padding-top: 125px;
    z-index: 3;
}

.sidebar a {
    padding-top: 25px;
    padding-bottom: 12px;
    padding-left: 15px;
    display: block;
    color: black;
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 45px;
    text-decoration: none;
    width: 100%;
}

h4 {
    font-family: cursive;
    color: crimson;
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 24px;
    padding-left: 10px;
}

.sidebar a:hover {
    background-color: burlywood;
}

.sidebar .present {
    background-color: blueviolet;
    color: whitesmoke;
}

.sidebar .cross {
    position: absolute;
    padding-top: 5px;
    left: 90%;
    font-size: 70px;
}

.bar {
    position: fixed;
    font-size: 70px;
    display: block;
    padding-top: 125px;
    padding-left: 10px;
}

.dashboard_banner {
    padding-top: 62px;
    width: 100%;
    z-index: 1;
    padding-left: 2px;
}

.greet {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 150px;
    font-family: "Bell MT";
    text-shadow: blue;
    color: black;
    padding-top: 120px;
    padding-bottom: 60px;
    color: brown;
}

.card-title {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 55px;
    color: darkblue;
}

.card-text {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 65px;
    color: maroon;
}

.card-header-tabs {
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman";
    font-size: 35px;
}

.guide {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 66px;
    text-align: left;
    font-family: "Cooper Black";
    padding-top: 15px;
    padding-bottom: 15px;
}

.bot {
    width: 48%;
    color: black;
    font-size: 40px;
    border-radius: 5%;
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: initial;
}

.botton1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.dp {
    padding-top: 50px;
    border-radius: 100%;
    height: 29rem;
    width: 26rem;
    object-fit: cover;
}

.edit {
    color: blue;
    font-family: "Times New Roman";
    font-size: 35px;
    text-decoration: none;

}

.lol a:hover {
    color: brown;
    font-size: 55px;
}

.list-group-item {
    color: darkmagenta;
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: italic;
    font-size: 48px;
}

.action {
    height: 43px;
    width: 88px;
    font-size: 27px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
}

.recharge {
    font-size: 40px;
    font-style: italic;
    font-weight: initial;
    color: darkmagenta;
}

.table {
    font-size: 32px;
}

.profile {
    padding-top: 200px;
}

.welcome_note {
    font-family: "Bell MT";
    text-shadow: blue;
    color: brown;
    font-size: 70px;
    padding-top: 20px;
}

.request{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: crimson;
    font-family:'Times New Roman';
    font-size: 100px;
}

.request_icon{
    height: 12vh;
    width: 12vh;
}

.form{
    font-size: 40px;
    font-style: initial;
    font-weight: bold;
    font-family: "Times New Roman";
}

.form-control{
    font-size: 40px;
}

.form-select{
    font-size: 40px;
}

.receive_icon{
    width: 14vh;
    height: 14vh;
}

.edit_icon{
    height: 14vh;
    width: 14vh;
}

.recharge_msg {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 100px;
    font-family: "Bell MT";
    text-shadow: blue;
    padding-top: 180px;
    padding-bottom: 60px;
    color: indigo;
}

.previous_order {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 100px;
    text-shadow: blue;
    padding-top: 180px;
    padding-bottom: 60px;
}

.remove {
    height: 43px;
    width: 88px;
    font-size: 23px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

.login_card{
    width: 90%;
}

.warning{
    color: red;
}