<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:mailto="http://www.w3.org/1999/xhtml">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<footer class="footer" th:fragment="foot">
    <p>
        <br>
        About Us <br>
        Developer Address: 137/A balaji puaram shahganj agra <br>
        Pin: 282010 <br>
        Developer email: devvvrats@gmail.com <br>
        Your Feedbacks are heartedly welcome <br>
        Contact us at: <a href="mailto:smart.parceling.support@gmail.com">smartparceling@gmail.com</a> <br>
        All right &#169; reserved
    </p>
</footer>
</body>
</html>