<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body onload="start()">
<nav th:replace="Navigation::nav"/>
<div th:replace="SideBar::side"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<section class="dashboard_banner" id="banneres">

    <h1 class="greet">Hello <span th:text="${person.userName}"/>!</h1>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/dashboard/1}" href="#"
                       th:classappend="${value}==1 ? 'active' : ''">Order Requested</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/dashboard/2}" href="#"
                       th:classappend="${value}==2 ? 'active' : ''">Order Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/dashboard/3}" href="#" tabindex="-1"
                       th:classappend="${value}==3 ? 'active' : ''">Pika Coins</a>
                </li>
            </ul>
        </div>
        <div class="card-body" th:if="${value}==1">
            <h5 class="card-title">Your Requested Orders Till Now</h5>
            <p class="card-text" th:text="${request}"></p>
        </div>
        <div class="card-body" th:if="${value}==2">
            <h5 class="card-title">Your Completed Orders Till Now</h5>
            <p class="card-text" th:text="${complete}"></p>
        </div>
        <div class="card-body" th:if="${value}==3">
            <h5 class="card-title">Pika Coins In Your Account</h5>
            <p class="card-text" th:text="${person.accountBalance}"></p>
        </div>
    </div>
    <div class="container text-center botton1">
        <a th:href="@{/user/requestOrder}"> <input type="submit" class="btn btn-outline-danger btn-warning bot"
                                                   value="Request Order"> </a>
        <span>&emsp;</span>
        <a th:href="@{/user/receiveOrder}"> <input type="submit" class="btn btn-outline-danger btn-info bot"
                                                   value="Receive Order"> </a>
    </div>
    <h1 class="guide">Orders You Can Complete</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight (in kgs)</th>
                    <th scope="col">Thing</th>
                    <th scope="col">Charge</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${person.orderReceived}">
                    <th scope="row" th:text="${e.getOrder().getId()}">
                    </td>
                    <td th:text="${e.getOrder().getFrom().getCity()} + ', ' + ${e.getOrder().getFrom().getState()}"></td>
                    <td th:text="${e.getOrder().getTo().getCity()} + ', ' + ${e.getOrder().getTo().getState()}"></td>
                    <td th:text="${#dates.format(e.getOrder().getDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${e.getOrder().getWeight()}"></td>
                    <td th:text="${e.getOrder().getThing()}"></td>
                    <td th:text="${e.getOrder().getCharge()}"></td>
                    <td>
                        <div class="container text-center">
                            <a href="#" th:href="@{'/user/acceptOrder/' + ${e.id}}"> <input type="submit"
                                                                                            class="btn btn-outline-success action"
                                                                                            value="Accept"> </a>
                            <a href="#" th:href="@{'/user/cancelReceivedOrder/' + ${e.id}}"> <input type="submit"
                                                                                                    class="btn btn-outline-danger action"
                                                                                                    value="Reject"> </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="guide">Orders You Have Requested</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight (in kgs)</th>
                    <th scope="col">Thing</th>
                    <th scope="col">Charge</th>
                    <th scope="col"> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${person.orderRequested}">
                    <th scope="row" th:text="${e.getOrder().getId()}"></th>
                    <td th:text="${e.getOrder().getFrom().getCity()} + ', ' + ${e.getOrder().getFrom().getState()}"></td>
                    <td th:text="${e.getOrder().getTo().getCity()} + ', ' + ${e.getOrder().getTo().getState()}"></td>
                    <td th:text="${#dates.format(e.getOrder().getDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${e.getOrder().getWeight()}"></td>
                    <td th:text="${e.getOrder().getThing()}"></td>
                    <td th:text="${e.getOrder().getCharge()}"></td>
                    <td>
                        <div class="container text-center">
                            <a href="#" th:href="@{'/user/cancelRequestedOrder/' + ${e.id}}"> <input type="submit"
                                                                                                     class="btn btn-outline-danger action"
                                                                                                     value="Cancel">
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="guide">Your Visits</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Visit Id</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight (in kgs)</th>
                    <th scope="col">via</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${person.visits}">
                    <th scope="row" th:text="${e.id}">
                    </td>
                    <td th:text="${e.getFrom().getCity()} + ', ' + ${e.getFrom().getState()}"></td>
                    <td th:text="${e.getTo().getCity()} + ', ' + ${e.getTo().getState()}"></td>
                    <td th:text="${#dates.format(e.date,'yyyy-MM-dd')}"></td>
                    <td th:text="${e.weight}"></td>
                    <td th:text="${e.via}"></td>
                    <td>
                        <div class="container text-center">
                            <a href="#" th:href="@{'/user/endVisit/' + ${e.id}}"> <input type="submit"
                                                                                         class="btn btn-outline-danger action"
                                                                                         value="End Visit"> </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="guide">Your orders on the way</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight (in kgs)</th>
                    <th scope="col">Thing</th>
                    <th scope="col">Charge</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${person.orderOnTheWay}">
                    <th scope="row" th:text="${e.getOrder().getId()}">
                    </td>
                    <td th:text="${e.getOrder().getFrom().getCity()} + ', ' + ${e.getOrder().getFrom().getState()}"></td>
                    <td th:text="${e.getOrder().getTo().getCity()} + ', ' + ${e.getOrder().getTo().getState()}"></td>
                    <td th:text="${#dates.format(e.getOrder().getDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${e.getOrder().getWeight()}"></td>
                    <td th:text="${e.getOrder().getThing()}"></td>
                    <td th:text="${e.getOrder().getCharge()}"></td>
                    <td>
                        <div class="container text-center">
                            <a href="#" th:href="@{'/user/completeOnTheWayOrder/' + ${e.id}}">
                                <input type="submit"
                                       class="btn btn-outline-success action"
                                       value="complete"> </a>
                            <a href="" th:href="@{'/user/cancelOnTheWayOrder/' + ${e.id}}"> <input type="submit"
                                                                                                   class="btn btn-outline-danger action"
                                                                                                   value="Cancel"> </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="guide">Your Pending Orders</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight (in kgs)</th>
                    <th scope="col">Thing</th>
                    <th scope="col">Charge</th>
                    <th scope="col"> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${person.orderPending}">
                    <th scope="row" th:text="${e.getOrder().getId()}">
                    </td>
                    <td th:text="${e.getOrder().getFrom().getCity()} + ', ' + ${e.getOrder().getFrom().getState()}"></td>
                    <td th:text="${e.getOrder().getTo().getCity()} + ', ' + ${e.getOrder().getTo().getState()}"></td>
                    <td th:text="${#dates.format(e.getOrder().getDate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${e.getOrder().getWeight()}"></td>
                    <td th:text="${e.getOrder().getThing()}"></td>
                    <td th:text="${e.getOrder().getCharge()}"></td>
                    <td>
                        <div class="container text-center">
                            <a href="#" th:href="@{'/user/completePendingOrder/' + ${e.id}}">
                                <input type="submit"
                                       class="btn btn-outline-success action"
                                       value="complete"> </a>
                            <a href="" th:href="@{'/user/cancelPendingOrder/' + ${e.id}}"> <input type="submit"
                                                                                                  class="btn btn-outline-danger action"
                                                                                                  value="Cancel"> </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="About::foot"/>
</section>

</body>
</html>