<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
</head>
<body onload="start2()">
<nav th:replace="HomeNavigation::nav"></nav>
<section class="banner">
    <h1>Smart Parceling</h1>
    <p class="motto"> A new and interactive way to send your parcel to your loved ones </p>
    <div class="home_button">
        <div class="container text-center">
            <a th:href="@{register}" href="#">
                <button type="submit" class="btn btn-outline-danger btn-warning bot">Sign Up</button>
            </a>
            <span>&emsp; </span>
            <a th:href="@{/user/dashboard/1}" href="#">
                <button type="reset" class="btn btn-outline-danger btn-info bot">Log In</button>
            </a>
        </div>
    </div>
    </div>
</section>
<footer class="footer" th:replace="About::foot"></footer>
</body>
</html>