<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
</head>
<body onload="start2()">
<nav th:replace="HomeNavigation::nav"></nav>
<section class="banner">
    <h1>Smart Parceling</h1>
    <p class="motto"> A new and interactive way to send your parcel to your loved ones </p>
    <div class="card border-primary mb-3 mx-auto login_card">
        <h5 class="card-header">Login to your account</h5>
        <div class="card-body">
            <form th:action="@{/userlogin}" class="form">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">User Name</label>
                    <input type="text" class="form-control" placeholder="Username" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="container text-center">

                        <button type="submit" class="btn btn-primary login_bot">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="footer" th:replace="About::foot"></footer>
</body>
</html>