<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>Recharge</title>
</head>
<body onload="start()">
<div th:replace="Navigation::nav"/>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<div th:replace="SideBar::side"/>
<section id="banneres">
    <h1 class="previous_order" style="color: blue; font-family: 'Britannic Bold'">Your Previous Orders</h1>
    <h1 class="guide">Orders You Have Completed</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight (in kgs)</th>
                    <th scope="col">Thing</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${person.orderCompletedByUser}">
                    <th scope="row" th:text="${e.getOrder().getId()}"></th>
                    <td th:text="${e.getOrder().getFrom().getCity()} + ', ' + ${e.getOrder().getFrom().getState()}"></td>
                    <td th:text="${e.getOrder().getTo().getCity()} + ', ' + ${e.getOrder().getTo().getState()}" ></td>
                    <td th:text="${#dates.format(e.getOrder().getDate(),'yyyy-MM-dd')}"> </td>
                    <td th:text="${e.getOrder().getWeight()}"></td>
                    <td th:text="${e.getOrder().getThing()}"></td>
                    <td>
                        <div class="container text-center">
                            <a href=""> <input type="submit"
                                               class="btn btn-outline-danger remove"
                                               value="Remove"> </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="guide">Your Completed Order</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight (in kgs)</th>
                    <th scope="col">Thing</th>
                    <th scope="col"> Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${person.orderCompleted}">
                    <th scope="row" th:text="${e.getOrder().getId()}"></th>
                    <td th:text="${e.getOrder().getFrom().getCity()} + ', ' + ${e.getOrder().getFrom().getState()}"></td>
                    <td th:text="${e.getOrder().getTo().getCity()} + ', ' + ${e.getOrder().getTo().getState()}" ></td>
                    <td th:text="${#dates.format(e.getOrder().getDate(),'yyyy-MM-dd')}"> </td>
                    <td th:text="${e.getOrder().getWeight()}"></td>
                    <td th:text="${e.getOrder().getThing()}"></td>
                    <td>
                    <div class="container text-center">
                            <a href=""> <input type="submit"
                                               class="btn btn-outline-danger remove"
                                               value="Remove"> </a>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="About::foot"/>
</section>

</body>
</html>