<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body onload="start()">
<div th:replace="Navigation::nav"></div>
<div th:replace="SideBar::side"></div>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<section class="container text-center dashboard_banner">
    <section class="DP">
        <img src="" th:src="@{/img/855804886_292466.png}">
    </section>
</section>
<div th:replace="About::foot"></div>
</body>
</html>