<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>Recharge</title>
</head>
<body onload="start()">
<div th:replace="Navigation::nav"/>
<i class="fas fa-bars bar" onclick="toggleBar()"></i>
<div th:replace="SideBar::side"/>
<section class="container text-center dashboard_banner">
    <h1 class="greet" style="color: indigo">Recharge Your Account</h1>
    <div class="card" style="width: 108%">
        <div class="card-body recharge" style="text-align: left">
            Recharge your account with pika coins and use then for transferring your order at a very affordable price. <br>
            5 &#8377; is equal to 1 pica coin.
            <form class="row g-3">
                <div class="mb-3">
                    <label for="exampleInputNam" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="exampleInputNam" placeholder="Amount" required>
                </div>
                <div class="container text-center">
                    <button type="submit" class="btn btn-outline-success btn-warning bot">Recharge</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="About::foot"/>
</section>


</body>
</html>