<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar" th:fragment="side">

    <i onclick="toggle()" class="fas fa-times cross"></i>
    <h4>Smart parceling</h4>
    <a href="#" th:href="@{/user/dashboard/1}" th:classappend="${title}=='Dashboard' ? 'present' : ''"> <i
            class="fas fa-tachometer-alt"></i> DASHBOARD</a>
    <a href="#" th:href="@{/user/profile}" th:classappend="${title}=='Profile' ? 'present' : ''"> <i
            class="fas fa-user-circle"></i> PROFILE</a>
    <a href="#" th:href="@{/user/requestOrder}" th:classappend="${title}=='Request Orders' ? 'present' : ''"> <i
            class="fas fa-paper-plane"></i></i> REQUEST ORDERS</a>
    <a href="#" th:href="@{/user/receiveOrder}" th:classappend="${title}=='Receive Orders' ? 'present' : ''"> <i
            class="fas fa-satellite-dish"></i></i> RECEIVE ORDERS</a>
    <a href="#" th:href="@{/user/previousOrder}" th:classappend="${title}=='Previous Orders' ? 'present' : ''"> <i
            class="fas fa-list-alt"></i> PREVIOUS ORDERS</a>
    <a href="#" th:href="@{/user/editProfile}" th:classappend="${title}=='Edit Profile' ? 'present' : ''"> <i
            class="fas fa-user-edit"></i> EDIT PROFILE</a>
    <a href="#" th:href="@{/user/recharge}" th:classappend="${title}=='Recharge' ? 'present' : ''"> <i
            class="fas fa-money-check"></i> RECHARGE</a>
    <a href="#" th:href="@{/user/creditAccount}" th:classappend="${title}=='Credit Account' ? 'present' : ''"> <i
            class="fas fa-rupee-sign"></i> CREDIT ACCOUNT</a>
    <a href="#" th:href="@{/logout}" class="bottom"> <i class="fas fa-sign-out-alt"></i> LOG OUT</a>
</div>
</body>
</html>