<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="Head::frag(${title})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar" th:fragment="side">

    <i onclick="toggle()" class="fas fa-times cross"></i>
    <h4>Smart parceling</h4>
    <a href="" th:classappend="${title}=='Dashboard' ? 'present' : ''"> <i class="fas fa-tachometer-alt"></i> DASHBOARD</a>
    <a href=""> <i class="fas fa-user-circle"></i> PROFILE</a>
    <a href=""> <i class="fas fa-paper-plane"></i></i> REQUEST ORDERS</a>
    <a href=""> <i class="fas fa-list-alt"></i> PREVIOUS ORDERS</a>
    <a href=""> <i class="fas fa-user-edit"></i> EDIT PROFILE</a>
    <a href=""> <i class="fas fa-money-check"></i> RECHARGE</a>
    <a href="" class="bottom"> <i class="fas fa-sign-out-alt"></i> LOG OUT</a>
</div>
</body>
</html>